$side-banner-width: 35vw;
$side-banner-height: calc(100vh/8 + 40px);
$main-content-margin: 50px;
$top-bottom-main-content-color: rgba(249,250,251,255);
$green-accent-color: rgb(73, 121, 73);

@mixin margin-left-right {
  margin-left: $main-content-margin;
  margin-right: $main-content-margin;
}

@font-face {
  font-family: "Norse-Bold";
  src: url("../assets/fonts/Norse-Bold.otf");
}

*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  flex-direction: row;
  margin: 0;

}

.side-banner{
  width: $side-banner-width;
  height: 100vh;
  background-image: url('../assets/images/cover.jpg');
  background-size: cover;
}

.side-banner-logo-bar{
  width: $side-banner-width;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $side-banner-height;
  background-color: rgb(0, 0, 0, 0.5);
  position: relative;
  top: calc(100vh/6);
}

.odin-logo{
  height: calc($side-banner-height - 1em);
  aspect-ratio: auto;
}

.side-banner-logo-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.logo-text{
  font-family: Norse-Bold, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: calc($side-banner-height/2);
  font-weight: 100;
  color: hsl(50, 0%, 93%);
}

.side-banner-attribution{
  position: absolute;
  bottom: 1em;
  left: calc($side-banner-width/2);
  transform: translate(-50%, 0);
}

.side-banner-attribution *{
  color: white;
  font-size: 1em;
}

.main-content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100vw - $side-banner-width);
}

.middle-container{
  @include margin-left-right;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.middle-container span{
  font-size: 1.2em;
  color: rgb(10, 10, 10);
  margin-bottom: 3em;
  font-weight: 700;
}

form{
  display:grid;
  grid-template-columns: repeat(2, minmax(200px, 400px));
  grid-template-rows: repeat(3, 1fr);
  column-gap: 4em;
  row-gap: 1.2em;
}

.input-container{
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-container{
  background-color:$top-bottom-main-content-color;
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: calc(100vw - $side-banner-width);
}

.top-container p{
  @include margin-left-right;
  font-size: 1.2em;
  color: rgb(10, 10, 10);
  width: calc(100vw - $side-banner-width - $main-content-margin*4);
  font-weight: 700;
}

.top-container p:last-child{
  margin-bottom:5em
}

.bottom-container{
  display:flex;
  gap:30px;
  flex-direction: column;
  background-color:  $top-bottom-main-content-color;
  flex:1;
  box-shadow: inset 0 3px 8px  rgba(0,0,0,0.5);
  width: calc(100vw - $side-banner-width);
  padding-top: 3em;
}

.bottom-container button, .bottom-container .login-container{
  @include margin-left-right;
}

.create-account-button{
  background-color: $green-accent-color;
  height: 2em;
  width: 14em;
  color: white;
  font-size: .9em;
  font-weight: bold;
  border-radius: .5em;
  border: none;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.create-account-button:hover{
  border: .2em solid $green-accent-color;
  background-color: $top-bottom-main-content-color;
  color: $green-accent-color;
  transition: all 0.2s ease-out;
}

.login-container a{
  color: $green-accent-color;
  text-decoration: none;
  padding-left: .5em;
}

label{
  font-size: .7em;
  color: rgb(40, 40, 40, .5);
  margin-bottom: .7em;
}

input{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: .3em;
}

.input-container input:valid{
  border-color: lightblue;
}

.input-container input:invalid{
  border-color: red;
}